.coin_value {
    padding: 3px 10px;
}

.coin_name_box {
    padding: 3px 10px;
}

.del_box {
    padding: 3px 5px;
}

#setting .item {
    margin: 20px 10px;
}

#setting .item .full_name {
    width: 150px;
}
#setting .item .abbreviation {
    width: 50px;
}

#coin_index_view {
    width: 300px;
}

#coin_index_view .date_update_coin_index {
    text-align: right; font-size: 10px;
}

